<form role="form" action="/auth/local/register" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <input type='hidden' name='_csrf' value='<%= _csrf %>'>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <p class="help-block"> By clicking the Sign Up button you agree with
  <%= sails.config.product.companyName %> <a href="#">Terms of service</a> and <a href="#">Privacy policy</a></p>
  <%- partial("partials/social-signup-links") %>

</form>