<!-- Default home page -->
<div class="row">
  <div class="col-md-8">
    <iframe style="width:100%" width="560" height="415" src="//www.youtube.com/embed/X-b2Zrr8BEk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-4">
    <h2>Make the world a better place</h2>
    <p class="lead">
    Sign up for our free plan and get unlimited happiness.
    </p>
    <p class="lead">
    <a class="btn btn-lg btn-primary" href="/register">Sign Up now!</a>
    </p>

  </div>
</div>