<!-- Default home page -->
<div class="row">
  <div class="col-md-8">
    <iframe style="width:100%" width="560" height="415" src="//www.youtube.com/embed/X-b2Zrr8BEk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="panel-body">
        <h2>Make the world a better place</h2>
        <p class="lead">
          Sign up for our free plan and get unlimited happiness.
        </p>
        <p class="lead">
          <a class="btn btn-lg btn-primary" href="/register">Start!</a>
        </p>
      </div>
    </div>

  </div>
</div>
<h2 class="page-header">
  Subscription plans
</h2>

<%- partial("../partials/plans") %>