
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    background: url(../images/bg.png), url(../images/bg-body.jpg) ;
    background-position:  0 0, 50% 50%;
    background-repeat: repeat,no-repeat ;
    background-attachment: fixed, fixed;
    background-size: auto, cover ;
    margin-top: 60px;
}

 #wrapper {
    width: 100%;
    background:transparent;
}
#page-wrapper1{
    background: rgba(243, 243, 243, 0.84);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.6) 24%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(24%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 24%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 24%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 24%,rgba(255,255,255,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.6) 24%,rgba(255,255,255,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
box-shadow: 0 0 25px rgba(10,10,50,0.6);
border: 1px solid rgba(255,255,255,0.3);
border-bottom: none;   
border-top: none;   
}
#page-wrapper {
    background: rgba(243, 243, 243, 0.84);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(10,10,50,0.8) 0%, rgba(10,10,50,0.6) 24%, rgba(10,10,50,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,50,1)), color-stop(24%,rgba(10,10,50,0.6)), color-stop(100%,rgba(10,10,50,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(10,10,50,0.8) 0%,rgba(10,10,50,0.6) 24%,rgba(10,10,50,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(10,10,50,0.8) 0%,rgba(10,10,50,0.6) 24%,rgba(10,10,50,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(10,10,50,0.8) 0%,rgba(10,10,50,0.6) 24%,rgba(10,10,50,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(10,10,50,0.8) 0%,rgba(10,10,50,0.6) 24%,rgba(10,10,50,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-8 */
box-shadow: 0 0 25px rgba(10,10,50,0.6);
border: 1px solid rgba(255,255,255,0.3);
border-bottom: none;   
border-top: none;   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent!important;
    padding:10px;
    min-height:200px;
    color:white;
}

#page-inner .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
background-color: rgba(10, 10, 50, 0.5);
}
#page-inner .table > thead > tr > th, #page-inner .table > tbody > tr > th, #page-inner .table > tfoot > tr > th, #page-inner .table > thead > tr > td, #page-inner .table > tbody > tr > td, #page-inner .table > tfoot > tr > td {
border-top: 1px solid rgba(10,10,50,0.8);
}


.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h1 {
    color: #ec0f63;
}
h2 {
    color: #ec0f63;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}

a { color: rgba(236,15,99,0.9);}
a:hover { color: rgba(236,15,99,1);}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
.panel{color:#333; }
.well{color:#333; }

.noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}

.panel-default {
border-color: rgba(236,15,99,0.1);
}
.panel-default > .panel-heading {
color: rgba(236,15,99,1);
background-color: rgba(236,15,99,0.1);
border-color: rgba(236,15,99,0.2);
}
.panel-footer {
background-color: rgba(236,15,99,0.05);
}
.btn-primary {
color: #fff;
background-color: rgba(236,15,99,0.8);
border-color: rgba(236,15,99,1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: rgba(236,15,99,0.9);
border-color: rgba(236,15,99,1);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
background-color: rgba(236,15,99,0.4);
border-color: rgba(236,15,99,0.5);
}

.panel-primary {
border-color: rgba(236,15,99,1);
}
.panel-primary > .panel-heading {
color: #fff;
background-color: rgba(236,15,99,0.9);
border-color: rgba(236,15,99,1);
}
.nav-tabs {
border-bottom: 1px solid rgba(236,15,99,0.5);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
border: 1px solid rgba(236,15,99,0.5);
border-bottom-color: transparent;
background-color:rgba(236,15,99,1);
color: white;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #fff;
background-color: rgba(236,15,99,1);
}



    .bg-color-green {
background-color: rgba(0, 206, 111, 0.84);
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2U2ZSIgc3RvcC1vcGFjaXR5PSIwLjg0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNmNjODYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(0,206,110,0.84) 0%, rgba(54,204,134,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,206,110,0.84)), color-stop(100%,rgba(54,204,134,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,206,110,0.84) 0%,rgba(54,204,134,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,206,110,0.84) 0%,rgba(54,204,134,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,206,110,0.84) 0%,rgba(54,204,134,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,206,110,0.84) 0%,rgba(54,204,134,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d600ce6e', endColorstr='#8036cc86',GradientType=0 ); /* IE6-8 */

color: #fff;
}
 .bg-color-blue {
background-color: rgba(93, 122, 240, 0.84);
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0NWFlZiIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDdhZjAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(52,90,239,0.85) 0%, rgba(93,122,240,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,90,239,0.85)), color-stop(100%,rgba(93,122,240,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(52,90,239,0.85) 0%,rgba(93,122,240,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(52,90,239,0.85) 0%,rgba(93,122,240,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(52,90,239,0.85) 0%,rgba(93,122,240,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(52,90,239,0.85) 0%,rgba(93,122,240,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9345aef', endColorstr='#4d5d7af0',GradientType=0 ); /* IE6-8 */

color: #fff;
}
  .bg-color-red {
background-color: rgba(219, 6, 48, 0.84);
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMDQwNCIgc3RvcC1vcGFjaXR5PSIwLjg0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjMwMTkiIHN0b3Atb3BhY2l0eT0iMC41Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(207,4,4,0.84) 0%, rgba(255,48,25,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,4,4,0.84)), color-stop(100%,rgba(255,48,25,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(207,4,4,0.84) 0%,rgba(255,48,25,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(207,4,4,0.84) 0%,rgba(255,48,25,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(207,4,4,0.84) 0%,rgba(255,48,25,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(207,4,4,0.84) 0%,rgba(255,48,25,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6cf0404', endColorstr='#80ff3019',GradientType=0 ); /* IE6-8 */

color: #fff;
}
  .bg-color-brown {
background-color: rgba(185, 74, 0, 0.84);
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0MWYxNiIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MTcwNmQiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(68,31,22,0.85) 0%, rgba(145,112,109,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,31,22,0.85)), color-stop(100%,rgba(145,112,109,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(68,31,22,0.85) 0%,rgba(145,112,109,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(68,31,22,0.85) 0%,rgba(145,112,109,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(68,31,22,0.85) 0%,rgba(145,112,109,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(68,31,22,0.85) 0%,rgba(145,112,109,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9441f16', endColorstr='#4d91706d',GradientType=0 ); /* IE6-8 */

color: #fff;
}
  .bg-color-pink {
    background-color: rgba(236,15,99,0.7);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjMGY2MyIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzBmNjMiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(236,15,99,0.85) 0%, rgba(236,15,99,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,15,99,0.85)), color-stop(100%,rgba(236,15,99,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(236,15,99,0.85) 0%,rgba(236,15,99,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(236,15,99,0.85) 0%,rgba(236,15,99,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(236,15,99,0.85) 0%,rgba(236,15,99,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(236,15,99,0.85) 0%,rgba(236,15,99,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ec0f63', endColorstr='#4dec0f63',GradientType=0 ); /* IE6-8 */

    color:#fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .back-footer-pink {
    background-color: #ec0f63;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}
.jumbotron {
background-color: rgba(236,15,99,0.1);
background-image: url(../images/bg-shovellogo.png);
background-repeat: no-repeat;
background-position: 50% 50%;
background-size:cover;
background-attachment: fixed;
color:white;

}
.pagination > li > a, .pagination > li > span {
color:rgba(236,15,99,1);
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
color: rgba(236,15,99,1);
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {

background-color: rgba(236,15,99,1);
border-color: rgba(236,15,99,1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: rgba(229, 229, 229, 0.09);
background-color: rgba(10,10,50,.8);
min-height: 60px;
max-height: 600px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #fff;
background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #ec0f63;
}

.navbar-form input{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    text-shadow:0 0 2px black;
}
.navbar-default .navbar-text {
color: white;
}

footer {
    background-color: rgba(10,10,50,.7);
    min-height: 300px;
    margin-top: 100px;
    padding: 50px 0;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMGEzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzBhMGEzMiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBhMGEzMiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  rgba(10,10,50,1) 0%, rgba(10,10,50,0.6) 66%, rgba(10,10,50,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,10,50,1)), color-stop(66%,rgba(10,10,50,0.6)), color-stop(100%,rgba(10,10,50,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(10,10,50,1) 0%,rgba(10,10,50,0.6) 66%,rgba(10,10,50,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(10,10,50,1) 0%,rgba(10,10,50,0.6) 66%,rgba(10,10,50,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(10,10,50,1) 0%,rgba(10,10,50,0.6) 66%,rgba(10,10,50,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(10,10,50,1) 0%,rgba(10,10,50,0.6) 66%,rgba(10,10,50,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a32', endColorstr='#800a0a32',GradientType=0 ); /* IE6-8 */
    color: white;


}


/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {
color: #fff;
/*background: #ec0f63;*/
width: 260px;
text-align: center;
font-size: 30px;
font-weight: 700;
height: 60px;
}
/*ul.navbar-nav > li, ul.navbar-nav > li > a {height:60px;}*/

.active-menu {
    background-color:rgba(236, 15, 99, 0.84)!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}
ul#main-menu > li:first-child, ul#main-menu > li:first-child a{border-top-right-radius: 15px}
ul#main-menus > li:last-child, ul#main-menus > li:last-child a{border-bottom-right-radius: 15px}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color:#fff;
	background:rgba(10,10,50, 0.2);
	text-shadow:0 0 3px black;
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:rgba(10, 10, 50, 0.5)!important;
	outline:0;
    text-shadow:0 0 2px black;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ec0f63;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ec0f63;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: rgba(10,10,50, 0.05);
	
}
.navbar-cls-top {
	background: rgba(10,10,50,0.8);
	border-bottom:none;
    height: 60px;
	
}
.navbar-cls-top .navbar-brand:hover {

background: #ec0f63;
color:#fff;

}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(10,10,50,0.5);
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ec0f63;
background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ec0f63;
background-color: rgba(10,10,50,0.5);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ec0f63; 
background-color: rgba(10,10,50,0.5);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ec0f63;
background-color: rgba(10,10,50,0.5);
box-shadow: 0 0 5px rgba(10,10,50,0.5) inset;
}
.navbar-default .navbar-nav > li > a {
color: #fff;
text-shadow: 0 0 3px rgba(10,10,50,1);
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: rgba(10,10,50,0.5);
}



.navbar-nav > li > a {
        font-size: 16px;
        line-height: 25px;
        padding-top: 17.5px;
        padding-bottom: 17.5px;

      }
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
/* margin: 2px 0 0; */
font-size: 14px;
list-style: none;
background-color: rgba(10,10,50,0.85);
background-clip: padding-box;
border: none;
/* border: 1px solid rgba(0, 0, 0, .15); */
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
box-shadow: 0 0px 12px rgba(10, 10, 50, 1) inset;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: #ec0f63;
text-decoration: none;
background-color: rgba(10,10,50,0.5);
}
.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #fff;
white-space: nowrap;
}
.dropdown-menu .divider {
background-color: rgba(229, 229, 229, 0.09);
}

/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
     @media(min-width:768px) {
     .wo-navbar-side {
        margin: 90px 130px 0 !important;
    }
    }
 
 @media(min-width:768px) {
     #page-wrapper{
        margin: 90px 30px 0 260px;
        padding: 15px 30px;
        min-height: 500px;
		border-radius: 15px;
    }


	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }


   .navbar {
 border-radius: 0px; 
 margin-bottom: 0px;
}
   
}


